.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: var(--spacing-sm) var(--spacing-lg);
  border-radius: var(--radius-sm);
  border: none;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    background-color: var(--primary-hover);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(59, 130, 246, 0.3);
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.btn-secondary {
  padding: var(--spacing-sm) var(--spacing-lg);
  color: var(--text-main);
  text-decoration: none;
  font-weight: 500;
  border: 1px solid var(--border-color);
  border-radius: var(--radius-sm);
  transition: background 0.2s;

  &:hover {
    background-color: white;
    border-color: var(--text-muted);
  }
}
.btn-icon{
  background: none;
   border: 1px solid var(--border-color);
   border-radius: var(--radius-sm);
  padding: var(--spacing-xs);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-main);
  transition: color 0.2s;

  &:hover {
    color: var(--primary-color);
  }

  svg {
    width: 24px;
    height: 24px;
  }
}