
:root {

  --primary-color: #3b82f6;       
  --primary-hover: #2563eb;
  --secondary-color: #64748b;     
  --success-color: #10b981;       
  --error-color: #ef4444;         
  
  --bg-app: #f1f5f9;              
  --bg-surface: #ffffff;          
  
  --text-main: #1e293b;           
  --text-muted: #94a3b8;          
  --border-color: #e2e8f0;

  
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-weight-bold: 600;

 
  --spacing-xs: 0.5rem;   /* 8px */
  --spacing-sm: 1rem;     /* 16px */
  --spacing-md: 1.5rem;   /* 24px */
  --spacing-lg: 2rem;     /* 32px */
  --spacing-xl: 3rem;     /* 48px */


  --radius-sm: 0.375rem;
  --radius-md: 0.75rem;
  --shadow-card: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* Global Reset for better sizing */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif; 
  background-color: var(--bg-app);
  color: var(--text-main);
  margin: 0;
}

@import './app/components/buttons';